// Colors
$primary-color: #f69d3c;
$hover-bg-color: #835C3B;
$text-dark: #0e0d0d;
$text-light: #ebf8e1;
$border-color: #080808;
$dodger-blue: DodgerBlue;
$royal-blue: RoyalBlue;

// Typography
$primary-font: 'Harrington', sans-serif;
$font-size-large: 25px;
$font-size-medium: 20px;

// Borders
$border-radius-large: 175px;
$border-thickness: 3px;

